<div id="container">


    <!-- CONTACT SECTION -->
    <section id="profile">
        <div class="content">
            <div class="two-third-first">

                <!-- FORM SECTION -->
                <%= form_tag('send_mail') do %>
                    <label for="name">Full Name<span class="required">*</span></label>
                    <input type="text" name="name" id="name" placeholder="Enter your name" required="">
                    <label for="email">Email<span class="required">*</span></label>
                    <input type="email" name="email" id="email" pattern="^[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,})$" placeholder="e.g. info@danielsousa.pt" required="">

                    <label for="project">Project Description<span class="required">*</span></label>
                    <br>
                    <textarea name="comments" id="project" cols="40" rows="5" placeholder="Describe your project and add some details." required=""></textarea>

                  <button class='bt-black txt-right fx1'>Send &nbsp;&nbsp;<i class="icon-circle-arrow-right green"></i></button>
              <% end %>
                <!-- FORM SECTION ENDS -->

            </div>
            <div class="one-third-last">
                <h3><%=@info.name%></h3>
                <p><i class="icon-phone navy"></i>&nbsp;&nbsp; <strong>+00 351 <%=@info.phone%></strong></p>
                <p><a href="#"><i class="icon-envelope navy"></i>&nbsp;&nbsp; <%=@info.email%></a></p>
            </div>
        </div>
    </section>
    <!-- CONTACT SECTION ENDS -->

    <!-- FOOTER SECTION -->
  <%= render :template => 'layouts/footer' -%>
    <!-- #footer -->
</div>