<div id="container">

    <!-- PROFILE SECTION -->
    <section id="profile">
        <div class="content">
            <!--<div class="one-half-first"> <img class="profile-img" alt="<%=@info.name%>" src="<%= asset_path @info_cover_photo %>"/> </div>-->
            <div class="">
                <h1><%=@info.name%></h1>
                <h5 class="navy"><%=@info.position%></h5>
                <p><%=@info.description.html_safe%></p><br>
              <p>This website was made with love <strong>( but also Ruby On Rails )</strong></p>
              <h3>Skills used in it</h3>
              <ul class="skills">
                <% @a = 1 %>
                <% @skills.each do |skill| %>
                    <%
                       if (@a == 1)
                         @class = 'bg-green'
                       else
                         @class = ''
                       end
                    %>
                    <li>
                      <div class="animate <%=@class%>" style="width:<%=skill.level%>%;"><span><%=skill.name%>&nbsp;&nbsp;<i class="icon-hand-right"></i>&nbsp;&nbsp;<%=skill.level%>%</span></div>
                    </li>
                    <% @a = @a + 1 %>
                <% end %>
              </ul>
                <p><a class="bt-black spacer fx1" href="/portfolio">Check my Portfolio &nbsp;&nbsp;<i class="icon-folder-open black"></i></a>&nbsp;&nbsp;<a class="bt-black fx1" href="/contact">Wanna say hi? &nbsp;&nbsp;<i class="icon-envelope green"></i></a></p>

            </div>
        </div>
    </section>
    <!-- PROFILE SECTION ENDS -->

    <!-- FOOTER SECTION -->
   <%= render :template => 'layouts/footer' -%>
    <!-- #footer -->
</div>
<!-- #container -->
</div>
<!-- #wrapper --> 