<div id="container">

    <!-- PORTFOLIO SECTION -->
    <section id="profile">
        <div class="content">

            <!-- SIMPLE PROJECTS CONTAINER -->
            <h3>Latest Jobs</h3>
            <section class="filter-container">

              <ul class="items">
                <% @portfolio.each do |project| %>
                    <li class="item-type-2"> <a href="/portfolio/<%=project.id%>/<%= URLify.urlify project.name %>">
                            <div class="bg-container bg-navy"> <i class="icon-picture white"></i> </div>
                            <img alt="portfolio" src="<%= asset_path project.cover %>" /> </a>
                        <h4><%=project.name%></h4>
                        <p><%=project.resume%>.</p>
                    </li>
                <% end %>
              </ul>
            </section>
            <div class="spacer"></div>

        </div>
    </section>
    <!-- PORTFOLIO SECTION ENDS -->

    <!-- FOOTER SECTION -->
  <%= render :template => 'layouts/footer' -%>
    <!-- #footer -->
</div>