<div id="container">
    <!-- PROFILE SECTION -->

    <section id="profile">

        <div class="content">
            <div class="two-third-first"><!-- two-third-first Starts here-->
                <h3>Latest Jobs</h3>
                <div class="spacer"></div>
                <%#= debug @skills %>
                <!-- Timeline -->
                <ul class="timeline">


                <% @jobs.each do |job| %>
                      <li><!-- Item Starts Here-->
                        <div class="date"><%=job.date%></div>
                        <div class="icon"><i class="<%=job.icon%>"></i></div>
                        <div class="info"> <span class="type"><%=job.position%></span> <span class="company green"><%=job.company%></span>
                          <p><%=job.description%></p>
                        </div>
                      </li>
                <% end %>


                    <!-- Item Ends Here-->
                </ul>
                <!-- Timeline Ends Here-->
            </div>
            <!-- two-third-first Ends here-->

            <div class="one-third-last"><!-- one-third-last Starts here-->

                <!-- Skills-->
                <h3>Skills</h3>
                <h4 class="skill-type spacer"><i class="icon-edit"></i>&nbsp;&nbsp; Web Development</h4>
                <ul class="skills">
                  <% @a = 1 %>
                  <% @dev.each do |d| %>
                      <%
                         if (@a == 1)
                           @class='bg-green'
                         else
                           @class=''
                         end
                      %>
                    <li>
                        <div class="animate <%=@class%>" style="width:<%=d.level%>%;"><span><%=d.name%>&nbsp;&nbsp;<i class="icon-hand-right"></i>&nbsp;&nbsp;<%=d.level%>%</span></div>
                    </li>
                      <% @a = 1 + @a %>
                  <% end %>
                </ul>
                <h4 class="skill-type"><i class="icon-camera"></i>&nbsp;&nbsp; Web Design</h4>
                <ul class="skills">
                  <% @a = 1 %>
                  <% @des.each do |d| %>
                      <%
                         if (@a == 1)
                           @class='bg-green'
                         else
                           @class=''
                         end
                      %>
                      <li>
                        <div class="animate <%=@class%>" style="width:<%=d.level%>%;"><span><%=d.name%>&nbsp;&nbsp;<i class="icon-hand-right"></i>&nbsp;&nbsp;<%=d.level%>%</span></div>
                      </li>
                      <% @a = 1 + @a %>
                  <% end %>
                </ul>
                <h4 class="skill-type"><i class="icon-random"></i>&nbsp;&nbsp; Other Random Skills</h4>
                <ul class="skills-2">
                    <li><span><i class="icon-glass"></i>&nbsp;&nbsp;Snowboard| Like a Pro</span>
                        <div class="animate  bg-green" style="width:99%;"></div>
                    </li>
                    <li><span><i class="icon-food"></i>&nbsp;&nbsp;Cooking | You will not die</span>
                        <div class="animate" style="width:97%;"></div>
                    </li>
                    <li><span><i class="icon-plane"></i>&nbsp;&nbsp;Travelling | Very Good ( I hope )</span>
                        <div class="animate" style="width:88%;"></div>
                    </li>
                    <li><span><i class="icon-puzzle-piece"></i>&nbsp;&nbsp;Puzzles | Very Bad</span>
                        <div class="animate bg-red" style="width:27%;"></div>
                    </li>
                </ul>
            </div>
            <!-- one-third-last Ends here-->
        </div>
        <!-- content Ends here-->
    </section>
    <!-- PROFILE SECTION ENDS -->

    <!-- FOOTER SECTION -->
  <%= render :template => 'layouts/footer' -%>
    <!-- #footer -->
</div>
<!-- #container -->