<!DOCTYPE html>
<html>
<head>
  <title>Daniel Sousa <%= '- ' + @page + @subPage %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
   <link rel="shortcut icon" type="image/x-icon" href="<%= asset_path 'favicon.ico' %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<div id="wrapper">

    <!-- HEADER -->
    <header id="header">
        <div class="btn-responsive-menu"> <span class="span-bar"></span> <span class="span-bar"></span> <span class="span-bar"></span> </div>
        <nav id="nav">
            <div class="box-logo"><a href="/home"><img alt="Daniel Sousa" src="<%= asset_path 'logo.png' %>"/></a></div>
            <div class="box-logo-mobile"><a href="/home"><img alt="Daniel Sousa" src="<%= asset_path 'logo.png' %>"/></a></div>
            <ul class="nav">

                <!-- CHANGE THE MENU TITLES HERE -->
                <li <% if @page == 'Home' %>  class='current' <% end %>><a id="link-profile" href="/" >
                        <div class="menu-name">My Profile</div>
                    </a></li>
                <li <% if @page == 'Portfolio' %>  class='current' <% end %>><a id="link-portfolio" href="/portfolio" >
                        <div class="menu-name">Portfolio</div>
                    </a></li>
                <li <% if @page == 'Resume' %>  class='current' <% end %>><a id="link-resume" href="/resume" >
                        <div class="menu-name">Resume</div>
                    </a></li>
                <li <% if @page == 'Contact' %>  class='current' <% end %>><a id="link-contact" href="/contact">
                        <div class="menu-name">Contact</div>
                    </a></li>
            </ul>
        </nav>
    </header>
    <!-- #HEADER ENDS HERE -->

    <%= yield %>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
